body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #000;
    text-transform: uppercase;

    background: #f2f2f2;
}

h2 {
    margin: 0;

    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.header-top {
    min-height: 564px;

    background: url('../img/bg-header.jpg') no-repeat;
}

.main-nav {
    position: relative;

    min-height: 56px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    background: #fff;

    justify-content: space-between;
}

.site-nav {
    margin: 0;
    padding: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    list-style: none;

    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.site-nav-item {
    width: 20%;
}

.site-nav-item:nth-child(2) {
    margin-right: 47px;
}

.site-nav-item:nth-child(3) {
    margin-left: 47px;
}

.to-left {
    text-align: left;
}

.to-right {
    text-align: right;
}

.site-nav-link {
    font-weight: 700;
    color: #000;
}

.site-nav-link:hover {
    color: #81b3d2;
}

.site-nav-link:active {
    color: #cacaca;
}

.current-nav-link {
    color: #766357;

    pointer-events: none;
}

.header-logo {
    position: absolute;
    top: 0;
    right: 530px;
}

main {
    background: #fff;
}

.title {
    width: 500px;
    margin: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 60px;

    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.about-sedona {
    margin: 0;
    margin-bottom: 30px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    flex-wrap: wrap;
}

.reasons-list {
    min-height: 256px;
    margin: 0;
    padding: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    background: #f2f2f2;

    list-style: none;
}

.reason-item,
.feature-item {
    width: 400px;

    text-align: center;
}

.reason-item h2 {
    width: 151px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 26px;
}

.reason-about {
    width: 280px;
    margin: 0 auto;
}

.reason-count {
    margin-bottom: 20px;

    display: block;
}

.reason-img-wrap {
    width: 800px;
    height: 256px;
}

.reasons-list.bg-blue {
    color: #fff;

    background: #81b3d2;
}

.features {
    min-height: 330px;
}

.features-list {
    margin: 0;
    padding: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    list-style: none;
}

.feature-icon {
    height: 78px;
    margin-top: 60px;
    margin-bottom: 25px;
}

.feature-about {
    width: 300px;
    margin: 0 auto;
    margin-top: 25px;
}

.request {
    position: relative;

    text-align: center;
}

.request-title {
    margin-top: 50px;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.request-subtitle {
    margin-bottom: 30px;
}

.request-btn {
    width: 570px;
    margin-top: 20px;
    padding: 30px 0;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;

    border: none;
    background: #766357;
}

.request-btn:hover {
    background: #604e43;
}

.request-btn:active {
    color: rgba(255, 255, 255, .3);

    background: #503e33;
}

.request-form {
	display: block;
    position: absolute;
    left: 315px;

    width: 570px;
    padding-top: 40px;

    font-weight: 700;
    line-height: 26px;
    text-align: left;

    background: #fff;
}

.request-item {
    position: relative;

    margin-bottom: 27px;
    margin-left: 58px;
}

.request-item label {
    width: 107px;
    margin-top: 7px;

    vertical-align: top;

    display: inline-block;
}

.request-item input[type='text'] {
    width: 320px;
    padding: 12px;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    border: none;
    background: #f2f2f2;
}

.request-item input[type='text']:hover,
.people-count input[type='text']:hover {
    background: #ebebeb;
}

.request-item input[type='text']:focus,
.people-count input[type='text']:focus {
    background: #fff;
}

.input-icon-calendar {
    position: absolute;
    top: 8px;
    right: 65px;
}

.input-icon-calendar:hover path {
    fill: #000;
}

.input-icon-calendar:active path {
    fill: #81b3d2;
}

.people-count {
    margin-bottom: 55px;
}

.people-count button {
    width: 38px;
    padding: 12px;

    font-weight: 700;
    color: #a9a9a9;

    border: none;
    background: #f2f2f2;
}

.people-count button:hover {
    color: #000;
}

.people-count button:active {
    color: #81b3d2;
}

.people-count input[type='text'] {
    box-sizing: border-box;
    width: 38px;
    margin-right: -4px;
    margin-left: -4px;
    padding: 12px 0;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    text-align: center;

    border: none;
    background: #f2f2f2;
}

label[for='grown-count'] {
    margin-right: 36px;
    margin-left: 56px;
}

label[for='child-count'] {
    margin-right: 22px;
    margin-left: 53px;
}

.form-btn-search {
    width: 458px;
    margin: 0 auto;
    margin-bottom: 55px;
    padding: 16px 0;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 21px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    display: block;

    background: #81b3d2;
}

.form-btn-search:hover {
    background: #669ec0;
}

.form-btn-search:active {
    color: rgba(255, 255, 255, .3);

    background: #5496bd;
}

.map {
    height: 473px;

    background: url('../img/map.jpg') no-repeat;
}

footer {
    background: #fff;
}

.main-footer {
    min-height: 120px;

    text-align: center;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
}

.footer-contacts,
.footer-social,
.footer-copyright {
    width: 400px;
    margin: auto;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    justify-content: center;
}

.footer-contacts {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.social-btn {
    width: 46px;
    height: 48px;
    margin: 0 2px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    background: #81b3d2;

    justify-content: center;
}

.social-btn:hover {
    background: #669ec0;
}

.social-btn:active {
    background: #5496bd;
}

.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    align-items: center;
    justify-content: center;
}

.footer-copyright span {
    margin-right: 8px;
}

.footer-logo {
    width: 116px;
    height: 40px;
}

.footer-logo:hover path {
    fill: #81b3d2;
}

.footer-logo:active path {
    fill: #cacaca;
}

.filters {
    min-height: 216px;

    color: #fff;

    background: url('../img/bg-hotels.jpg') no-repeat;
}

.filter {
    margin-left: 70px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
}

.filter-checkbox,
.filter-range {
    width: 190px;
    margin-top: 27px;
    margin-right: 63px;
    padding: 0;

    border: none;
}

.filter-checkbox-title,
.filter-range-title {
    margin-bottom: 24px;

    font-size: 16px;
    font-weight: 700;
}

.filter-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-input-checkbox {
    position: absolute;

    opacity: 0;
}


.filter-option {
    position: relative;

    padding-bottom: 25px;
    padding-left: 40px;
}

.filter-label-checkbox::before {
    position: absolute;
    left: 0;

    width: 30px;
    height: 30px;

    background: url('../img/checkbox-off.svg') no-repeat;

    content: '';
}

.filter-input-checkbox:checked + .filter-label-checkbox::before {
	background: url('../img/checkbox-on.svg') no-repeat;
}

.filter-range {
    width: 318px;
    margin-right: 71px;
    margin-left: auto;
}

.filter-range-title {
    margin-bottom: 10px;
}

.price-controls {
    position: relative;

    height: 32px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #fff;
    border-radius: 2px;
}

.price-controls::after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #fff;

    content: '';
    transform: translate(-50%, -50%);
}

.price-controls label {
    font-size: 14px;
    vertical-align: top;

    display: inline-block;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 80px;
    padding-top: 5px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    font: inherit;
    color: inherit;

    border: none;
    background: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #fff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);

    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 79%;
}

.btn-transparent {
    margin-left: 83px;
    padding: 6px 34px;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;

    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;

    cursor: pointer;
}

.btn-transparent:hover {
    color: #000;

    background: #fff;
}

.search-results {
    min-height: 86px;

    font-size: 12px;
    line-height: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    border-bottom: 1px solid #e5e5e5;
}

.found {
    margin: auto 0;
    margin-right: 50px;
    margin-left: 70px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.sorting {
    margin-top: 36px;
    margin-right: 40px;
}

.hotels-sort-list {
    width: 700px;
    margin-top: 36px;
    padding: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    list-style: none;
}

.hotels-sort-item {
    margin-right: 32px;
}

.hotels-sort-link {
    color: rgba(0, 0, 0, .3);

    border-bottom: 1px dotted #81b3d2;
}

.hotels-sort-link:hover {
    color: #81b3d2;
}

.hotels-sort-link:active {
    color: #000;
}

.current-sort-link {
    color: #81b3d2;

    border: none;

    pointer-events: none;
}

.arrows-sort {
    margin: auto;
    margin-top: 36px;
    margin-right: 73px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
}

.sort-up path,
.sort-down path {
    fill: #cacaca;
}

.sort-up:hover path {
    fill: #231f20;
}

.sort-up:active path {
    fill: #81b3d2;
}

.current-sort-down path {
    pointer-events: none;

    fill: #81b3d2;
}

.sort-down {
    margin-left: 10px;
}

.list-results {
    margin: 0;
    padding: 0;

    list-style: none;
}

.list-results-item {
    min-height: 150px;
    padding-left: 70px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    border-bottom: 1px solid #e5e5e5;
}

.hotel-img-wrap {
    margin-top: 30px;
    margin-right: 32px;
}

.hotel-desc {
    width: 650px;
    margin-top: 25px;
}

.hotel-name {
    margin-top: 2px;
    margin-bottom: 5px;

    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    color: #000;

    display: block;
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
    color: #cacaca;
}

.type-of-housing,
.price {
    margin-top: 5px;
    margin-bottom: 15px;

    color: #333;
    vertical-align: top;

    display: inline-block;
}

.type-of-housing {
    width: 110px;
}

.about-house-btn,
.book-btn {
    margin-right: 3px;
    padding: 5px 16px;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    display: inline-block;

    border: none;
}

.about-house-btn {
    background: #81b3d2;
}

.about-house-btn:hover {
    background: #669ec0;
}

.about-house-btn:active {
    color: rgba(255, 255, 255, .3);

    background: #5496bd;
}

.book-btn {
    background: #766357;
}

.book-btn:hover {
    background: #604e43;
}

.book-btn:active {
    color: rgba(255, 255, 255, .3);

    background: #503e33;
}

.hotel-rating {
    margin-top: 30px;
    margin-right: 72px;
    margin-left: auto;
}

.stars {
    margin-bottom: 40px;

    text-align: right;
}

.stars img {
    padding-left: 2px;
}

.rating {
    padding: 4px 15px;

    color: #666;

    display: block;

    background: #f2f2f2;
}
