html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #000;
    text-transform: uppercase;

    background: #f2f2f2;
}

h2 {
    margin: 0;

    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

a {
    text-decoration: none;
}

.container {
    box-sizing: content-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.header-top {
    min-height: 564px;

    background: url('../img/bg-header.jpg') no-repeat;
}

.main-nav {
    height: 56px;

    display: flex;

    background: #fff;

    justify-content: space-between;
}

.site-nav {
    margin: 0;
    padding: 0;

    display: flex;

    list-style: none;
}

.site-nav-item {
    margin: 17px 75px;
}

.site-nav-link {
    font-weight: 700;
    color: #000;
}

.logo {
    padding-right: 20px;
}

main {
    background: #fff;
}

.title {
    width: 500px;
    margin: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 60px;

    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.about-sedona {
    margin: 0;
    margin-bottom: 30px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.reasons {
    display: flex;

    flex-wrap: wrap;
}

.reasons-list {
    min-height: 256px;
    margin: 0;
    padding: 0;

    display: flex;

    background: #f2f2f2;

    list-style: none;
}

.reason-item,
.feature-item {
    width: 400px;

    text-align: center;
}

.reason-item h2 {
    width: 151px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 24px;
}

.reason-about {
    width: 280px;
    margin: 0 auto;
}

.reason-count {
    margin-bottom: 20px;

    display: block;
}

.reason-img-wrap {
    width: 800px;
    height: 256px;
}

.reasons-list.bg-blue {
    color: #fff;

    background: #81b3d2;
}

.features {
    min-height: 330px;
}

.features-list {
    margin: 0;
    padding: 0;

    display: flex;

    list-style: none;
}

.feature-icon {
    height: 78px;
    margin-top: 60px;
    margin-bottom: 25px;
}

.feature-about {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

.request {
    max-height: 290px;

    text-align: center;
}

.request p {
    margin-bottom: 30px;
}
.request-title {
    margin-top: 50px;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.request-btn {
    width: 570px;
    margin-top: 20px;
    padding: 30px 0;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;

    border: none;
    background: #766357;
}

.request-form {
    display: none;
}

.map {
    height: 470px;

    background: url('../img/map.jpg') no-repeat;
}

footer {
    background: #fff;
}

.main-footer {
    height: 120px;

    text-align: center;

    display: flex;
}

.footer-contacts,
.footer-social,
.footer-copyright {
    width: 400px;
    margin: auto;
}

.footer-contacts {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 46px;
	height: 48px;
	margin: 0 2px;
}

.social-btn-tw {
	background: #81b3d2 url('../img/twitter.svg') no-repeat center;
}

.social-btn-fb {
	background: #81b3d2 url('../img/fb-icon.svg') no-repeat center;
}

.social-btn-yt {
	background: #81b3d2 url('../img/youtube.svg') no-repeat center;
}

.filters {
    height: 218px;

    color: #fff;

    background: url('../img/bg-hotels.jpg') no-repeat;
}

.filter {
    display: flex;
}

fieldset {
    width: 190px;
    margin-top: 30px;
    margin-left: 70px;
    padding: 0;

    border: none;
}

legend {
    font-size: 16px;
    font-weight: 700;
}

.filter-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

input[type='checkbox'] {
    position: absolute;

    opacity: 0;
}


.filter-option {
    position: relative;

    padding: 15px 0;
    padding-left: 40px;
}

.filter-option label::before {
    position: absolute;
    left: 0;

    width: 30px;
    height: 30px;

    background: url('../img/checkbox-off.svg') no-repeat;

    content: '';
}

.filter-range {
    width: 330px;
    margin-right: 70px;
    margin-left: auto;
}

.filter-range-title {
    margin-bottom: 9px;

    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
}

.price-controls {
    position: relative;

    height: 36px;
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #fff;
    border-radius: 2px;
}

.price-controls::after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #fff;

    content: '';
    transform: translate(-50%, -50%);
}

.price-controls label {
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    display: inline-block;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    font: inherit;
    color: inherit;

    border: none;
    background: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #fff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);

    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;

    display: block;

    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;

    cursor: pointer;
}

.btn-transparent:hover {
    color: #000;

    background: #fff;
}

.search-results {
    height: 86px;

    display: flex;

    border-bottom: 1px solid #e5e5e5;
}

.found {
    width: 235px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.hotels-sort {
    display: flex;
}

.list-results {
    margin: 0;
    padding: 0;

    list-style: none;
}

.list-results-item {
    height: 150px;
    padding-left: 70px;

    display: flex;

    border-bottom: 1px solid #e5e5e5;
}

.hotel-img-wrap {
    margin-top: 30px;
    margin-right: 35px;
}

.hotel-desc {
    width: 650px;
    margin-top: 25px;
}

.type-of-housing,
.price {
    margin-top: 5px;
    margin-bottom: 15px;

    color: #333;
    vertical-align: top;

    display: inline-block;
}

.type-of-housing {
    width: 110px;
}

.about-house-btn,
.book-btn {
    padding: 5px 16px;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    display: inline-block;

    border: none;
}

.about-house-btn {
    background: #81b3d2;
}

.book-btn {
    background: #766357;
}

.hotel-rating {
    margin-top: 30px;
    margin-right: 70px;
    margin-left: auto;
}

.stars {
    margin-bottom: 30px;

    text-align: right;
}

.rating {
    padding: 5px 16px;

    color: #666;

    display: block;

    background: #f2f2f2;
}
